<link rel="stylesheet" href="/css/chatBox.css">

<div class="container">
    <div class="other-msg">Other message</div>
    <div class="self-msg">Self message</div>
    <div class="inputs">
        <input type="text" placeholder="Type a message here.." class="input1">
        <input type="button" value="Send" class="input2">
    </div>
</div>