<li id="comment-<%comment._id%>">
    <p>
      <%if(locals.user&&locals.user.id==comment.user.id){%>
        <small>
          <a class="delete-comment-button" href="/comments/destroy/<%=comment._id%>">X</a>
        </small>
      <%} %>
      <%=comment.content%>
      <br>
      <small>
        <%= comment.user.name%>
      </small>
      <br>
      <small>
          <% if(locals.user) { %>
              <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                  <%= comment.likes.length %> Likes
              </a>
          <% } else { %>
              <%= comment.likes.length %> Likes
          <% } %>
      </small>
      <!-- Adding like section to the code -->
    </p>  
</li>