<footer class="footer">
    <div class="text">
        &copy; PM Technologies All Right Reserved
    </div>
    <div class="combi">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>
</footer>