<% if (locals.user) { %>
   <header class="header">
      <div class="first">
         <p class="title">
            <a href="/"><img src="/images/Logo.png" class="ig" alt="" height="50px" width="50px"
                  style="border-radius: 50%;"></a>
         </p>

         <form action="#" name="myform" class="form">
            <input type="search" placeholder="&#xF002; Search Avlanche" class="search">
         </form>
      </div>

      <!-- Responsive navigation icon -->
      <div class="nav-icon" id="nav-icon">
         <div class="bar"></div>
         <div class="bar"></div>
         <div class="bar"></div>
      </div>

      <ul class="log" id="nav-list">
         <% if(locals.user){%>
            <li class="user">
               <a href="/"><i class="fa-solid fa-house white" id="white1"></i></a>
            </li>
            <li class="user ">
               <a href=""><i class="fa-solid fa-user-group white" id="white1"></i></a>
            </li>
            <li class="user">
               <a href=""><i class="fa-solid fa-users white" id="white1"></i></a>
            </li>
            <div class="hel">
               <li class="user">
                  <a href="/users/profile">
                     <%=user.name%>
                  </a>
               </li>
               <li class="user">
                  <a href="/users/sign-out">
                     <button class="btn btn-primary">Logout</button>
                  </a>
               </li>
            </div>
            <% }else{%>
               <li class="user">
                  <a href="/users/sign-in">Sign In</a>
               </li>
               <li class="user">
                  <a href="/users/sign-up">Sign Up</a>
               </li>
               <% } %>
      </ul>
   </header>
   <% } %>


      <script type="text/javascript" src="/js/header.js"></script>