<header class="header">
    <p class="title">Codeial</p>
   <ul class="log">
        <% if(locals.user){%>
            <li class="user">
                <a href="/users/profile" >
                    <%=user.name%>
                </a>
            </li>
             <li class="user">
                <a href="/users/sign-out">Sign Out</a>
             </li>
        <% }else{%>
              <li class="user">
                 <a href="/users/sign-in">Sign In</a>
              </li>
              <li class="user">
                 <a href="/users/sign-up">Sign Up</a>
              </li>
        <% } %>
   </ul>
</header> 