<li id="post-<%=post._id%>">
    <p>
      <%if(locals.user&&locals.user.id==post.user.id){%>
      <small>
        <a class="delete-post-button"  href="/posts/destroy/<%=post.id%>">X</a>
      </small>
      <%} %>
      <%= post.content%> 
      <small>
        <%= post.user.name%>
     </small>
     <br>
     <!-- study about the data attribute  Added the like section to each comment -->
      <small>
            <% if (locals.user){ %>
       <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                 <%= post.likes.length %> Likes
            </a>
            <% }else{ %>
                <%= post.likes.length %> Likes
             <% } %>
 </small>
    </p>
    <div class="post-comments">
     <%if(locals.user){%> 
     <form action="/comments/create" id="new-comment-form" method="POST">
         <input type="text" name="content" placeholder="Type Here to add comment... " required >
         <input type="hidden" name="post" value="<%= post._id %>">
         <input type="submit" value="Add Comment">
     </form>

     <%}%>
     <!-- Showing the comments  -->
     <div id="post-comments-list">
      <ul id="post-comments-<%=post._id%>">
        <%for(comment of post.comments){%>
             <%-include('_comment')-%>
        <%}%>
      </ul>
     </div>
    </div>
  </li>

