<link rel="stylesheet" href="/css/home.css">
<!-- <h1>Codeial / <%= title %></h1> -->
<div id="home-container">
  <section id="feed-post">
     <h4>Posts</h4>
     <%if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea name="content"  cols="30" rows="3" placeholder="Type Here..." required ></textarea>
      <input type="submit" value="Post" />
    </form>
    <%}%>
    <!-- Showing the list of content -->
    <div id="post-list-container">
      <ul>
        <% for(post of posts){ %>
          <%- include('_post') -%>
        <%}%>
      </ul>
    </div>
  </section>
  
  <section id="user-friends">
      <h4>
          FRIENDS
      </h4>
          <%if(locals.friends.length==0){%>
          <h6>Friends list is empty.</h6>
          <%}%>
          <%for(fr of locals.friends){%>
              <div>
                     <a href="/users/profile/<%=fr.friend_id%>">
                      <%=fr.friend_name%>
                  </a>
              </div>
          <%}%>

    <h4>Users</h4>
     <% for(u of all_users){%>
        <p>
           <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>  
      <%}%>

    <% if(locals.user){%>
      <%- include('_chatBox') -%>
    <%}%>
    </section>
</div>
<script src="/js/home_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<!-- Added a cdn link for the frontend for the websockets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<%if(locals.user){%>
  <script>
      new ChatEngine('user-chat-box','<%= locals.user.emails%>');   
 </script>
<%}%>




 








