
<!-- 
<h1>Reset Password</h1>

<% if(access) { %>
    <form action="/users/update-password/<%= accessToken %>" method="POST">
        <label for="newPass">New Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" id="newPass" name="newPass" required>
        <br>
        <label for="confirmPass">Confirm New Password:</label>
        <input type="password" id="confirmPass" name="confirmPass" required>
        <input type="submit" value="Confirm">
    </form>
<% } else { %>
    <p>Enter registered mail address:</p>
    <form action="/users/send-reset-pass-mail" method="POST">
        <input type="emails" name="emails" placeholder="Email" required>
        <input type="submit" value="Submit">
    </form>
<% } %> -->



<link rel="stylesheet" href="/css/user_signin.css">

<div class="avlanche">
    <h1>AVLANCHE</h1>
</div>


<div class="contain">
<% if(access) { %>
    <form action="/users/update-password/<%= accessToken %>" method="POST">
    <div class="cm22">
        <label for="newPass">New Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" id="newPass" name="newPass" required style="border-radius: 3px; ">
    </div>
        <br>
    <div class="cm23">
        <label for="confirmPass">Confirm New Password:</label>
        <input type="password" id="confirmPass" name="confirmPass" required style="border-radius: 3px; margin-left: 5px; ">
    </div>
        <input type="submit" value="Confirm" class="cm27">
    </form>
</div>
<% } else { %>
    <h6 style=" font-size: 1rem; padding-left: 40%; color: red; padding-top: 15px; font-size: 20px;">
        Reset Password</h6>
    <p style="margin-left: 21px;padding-top: 50px; color: gray;">Enter registered mail address</p>
    <form action="/users/send-reset-pass-mail" method="POST">
        <input type="emails" name="emails" placeholder="Email" required class="cm20"><br>
        <input type="submit" value="Submit" class="cm21">
    </form>
<% } %>

<style>
    .cm20{
        margin-left: 50px;
         width:73%;
        border-radius: 9px;
        padding: 5px;
        outline: none;
        border: none;
        background-color: blanchedalmond;
    }
    .cm21{
    margin-left: 43%;
    margin-top: 10%;
    border-radius: 8px;
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 6px;
    width: 23%;
    }
    .cm22{
      padding: 17px;
    }
    .cm23{
      margin-left: 15px;
    }
    .cm27{
    margin-top: 18%;
    margin-left: 41%;
    background-color: lavender;
    border-radius: 8px;
    width: 90px;
    font-weight: bold;
    border: none;
    height: 30px;
}

</style>