
<link rel="stylesheet" href="/css/user_signup.css">

<div class="avlanche">
    <h1>AVLANCHE</h1>
</div>


<div class="contain">
    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Your Name" required class="email">
        <input type="email" name="emails" placeholder="Your Email" required class="email">
        <input type="password" name="password" placeholder="Password" required class="email">
        <input type="password" name="confirm_password" placeholder=" Confirm Password" required class="email">
        <input type="submit" value="Sign Up" class="btn btn-primary btn-lg email"> 
    </form>
   
    <div class="forgot">
        <a href="/users/reset-password" style="text-decoration: none;">Forgot Password?</a>
    </div>
     
      <div class="line"></div>
    <div class="google">
      <a href="/users/auth/google" style="text-decoration: none;"> 
        <img src="/images/googlelogo.jpg" alt="" height="20px" width="20px" style="border-radius: 50%;">
        Sign Up with google
    </a>
    </div>
</div>