<h1>Sign up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="emails" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder=" Confirm Password" required>
    <input type="submit" value="Sign Up">
</form>

<p>
    <a href="/users/auth/google"> Google Sign In/Sign Up</a>
</p>