<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
  crossorigin="anonymous"
/>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/css/users_profile.css" />

<div class="container bg-[#242526]">
  <div class="relative left-64">
    <img
      src="/images/Profile_Background.png"
      alt="Background Image"
      class="h-80 w-8/12"
    />
    <%if(user.id == profile_user.id){%>
    <div class="absolute left-9 top-15 profile">
      <img
        src="<%= user.avatar%>"
        alt="<%= user.name %>"
        height="170px"
        width="180px"
        id="file-ip-1-preview"
        class="rounded-full border-4 border-gray"
      />
    </div>
  </div>

  <div class="ml-90 form-data">
    <!-- If the user matches than show the form  -->
    <form
      action="/users/update/<%=profile_user.id%>"
      enctype="multipart/form-data"
      method="POST"
      class="flex"
    >
      <div class="ab-1 flex flex-col">
        <input
          type="text"
          name="name"
          placeholder="Your Name.."
          value="<%= profile_user.name%>"
          required
          class="user-name user-name w-72 mb-1 rounded-full flex items-center h-12 pl-4"
        />
        <input
          type="email"
          name="emails"
          placeholder="Your Email.."
          value="<%= profile_user.emails%>"
          required
          class="email-btn"
        />
      </div>
      <div class="ab-2 relative top-[-90px] left-[-90px]">
        <input
          type="file"
          name="avatar"
          placeholder="profile Picture"
          onchange="showPreview(event);"
          class="create-btn block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-pink-50 file:text-pink-700 hover:file:bg-pink-100"
        />
      </div>
      <div class="submit-btn">
        <input
          type="submit"
          value="Update"
          class="update-btn text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        />
      </div>
    </form>

    <%}else{%>
    <!-- else show the profile info -->
    <div class="absolute left-9 top-15 profile">
      <img
        src="/images/images.png"
        alt="Profile"
        height="170px"
        width="180px"
        class="rounded-full border-4 border-gray"
      />
    </div>
    <div class="container absolute top-[105%] text-white left-[16%]">
      <div class="font-sans text-5xl antialiased font-bold">
        <p style="margin-left: 5px"><%=profile_user.name%></p>
      </div>
      <div class="mt-4 -ml-60 font-sans text-xl">
        <p><%=profile_user.emails%></p>
      </div>

      

      <br>
      <%if(!locals.are_friends){%>
        <button type="button" class="btn btn-warning text-light">
          <a href="/users/profile/<%=profile_user._id%>/toggle_friend" id="add-friend">Add Friend</a>
        </button>
        <%}else{%>
          <button type="button" class="btn btn-warning text-light">
          <a type="button" href="/users/profile/<%=profile_user._id%>/toggle_friend" id="remove-friend" >Remove Friend</a>
          </button>
      <%}%>


    </div>
  </div>
</div>
<%}%>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
  crossorigin="anonymous"
></script>
<script type="text/javascript" src="/js/users_preview.js"></script>
<script  src='/js/toggle_friend.js'></script>