<h1>Sign in</h1>

<form action=" /users/create-session" method="POST">
    <input type="email" name="emails" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
     <input type="submit" value="Sign In">
</form>

<p>
    <a href="/users/auth/google"> Google Sign In/Sign Up</a>  | <a href="/users/reset-password">Forgot Password?</a>
</p>
