

<!-- <div>
    <p>Hi <%= user.name %>,</p>
    <p>Use this link to reset password of your Codeial account.
         <a href="http://localhost:8000/users/reset-password/<%= user.accessToken %>">Click here!</a></p>
    <p>Or paste the given link in your browser: http://localhost:8000/users/reset-password/<%= user.accessToken %></p>
    <p>Thanks!</p>
</div> -->

<style>
    body{
        margin: 0;
        background-color: lightgray;
    }
    table{
        border-spacing: 0;
    }
    id{
        padding: 0;
    }
    img{
        border: 0;
    }
    .wrapper{
        width: 100%;
        table-layout:fixed;
        background-color: #cccccc;
        padding-bottom: 60px;
    }
    .main{
        background-color: #ffffff;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #171ab1;
    }
    .two-columns{
        text-align: center;
        /* font-size: 0; */
        display: flex;
    }
    .two-columns .column{
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    .three-columns{
        text-align: center;
        font-size: 0;
        padding: 15px 0 25px;
    }
    .three-columns .column{
        width: 100%;
        max-width: 200px;
        /* display: inline-block; */
        vertical-align: top;
        /* text-align: center; */
    }
     .three-columns .padding{
        padding: 15px;     
        display: flex;
       margin-left: 66px;
    } 
    .three-columns .content{
        font-size: 15px;
        line-height: 20px;
        padding: 0 5px;
    }  
  </style>
  <body style=" margin: 0; background-color: lightgray;">
    <center class="wrapper">
        <table class="main" >
            <!-- Front portion -->
            <tr>
                <td height: 8 style="background-color: black;"></td>
            </tr>
            <!-- logo section -->
            <tr>
                <td >
                <table width="100%">
                    <tr>
                        <td class="two-columns" >
                    <table class="column" >
                        <tr>
                            <td> 
                              <a href="" style="text-decoration: none;"> 
                                <p style="color: blue; font-weight: bolder; font-size: 18px;
                                font-family: sans-serif;">Codeial</p>
                              </a>
                            </td>
                            <!-- <td>
                                <p style="color: blue; font-weight: bolder; font-size: 18px;
                                font-family: sans-serif;">Codeial</p>
                            </td> -->
                       </tr>
                   </table>
                    <table class="column">
                      <tr>
                        <td style="padding: 10px 72px;  font-size: 0;">
                            <a href="#"><img src="https://ibb.co/2ZKNgFy" alt="facebook" width="30"></a>
                            <a href="#"><img src="./img/black-twitter.png" alt="Twitter" width="30"></a>
                            <a href="#"><img src="./img/black-youtube.png" alt="facebook" width="30"></a>
                            <a href="#"><img src="./img/black-linkedin.png" alt="facebook" width="30"></a>
                            <!-- <a href="#"><img src="./img/black-instagram.png" alt="facebook" width="30"></a> -->
                        </td>
                      </tr>
                    </table>
                </td>
            </tr>
                </table>
                </td>
          </tr>
        <!-- Banner Image -->
    <tr>
        <td>
            <a href=""><img src="./img/banner.jpg" alt="" width="600px" max-width="100%"></a>
        </td>
    </tr>
  
    <!-- Three column section -->
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td class="three-columns">
                        <table class="column">
                            <tr>
                                <td class="padding">
                                   <table class="content">
                                      <tr>
                                        <td>
                                            <a href=""><img src="./img/email.png" alt="" width="130" style="max-width: 130px;"></a>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td>
                                            <p style="font-weight: bold; font-size: 17px;">Web Design </p>
                                            <p>It is a long established fact that a reader will be distracted</p>
                                        </td>
                                    </tr>
                                   </table>
  
                                   <table class="content">
                                    <tr>
                                      <td>
                                          <a href=""><img src="./img/settings.png" alt="" width="130" style="max-width: 130px;"></a>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td>
                                          <p style="font-weight: bold; font-size: 17px;">Ecommerce</p>
                                          <p>It is a long established fact that a reader will be distracted </p>
                                      </td>
                                  </tr>
                                 </table>
  
  
                                   <table class="content">
                                      <tr>
                                        <td>
                                            <a href=""><img src="./img/home.png" alt="" width="130" style="max-width: 130px;"></a>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td>
                                            <p style="font-weight: bold; font-size: 17px;">HTML Email </p>
                                            <p>It is a long established fact that a reader will be distracted</p>
                                        </td>
                                    </tr>
                                   </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  
    <!-- Template for the mail -->
    <tr>
        <td>
           <table>
            <tr>
                <td>
                    <h2 style="color: black;">Mail From Codeial</h2>
                </td>
            </tr>
  
              <tr>
                <td>
                    Hi <%= user.name %>
                </td>
            </tr>
             <tr>
                <td>
                    <p>Use this link to reset password of your Codeial account.
                        <a href="http://localhost:8000/users/reset-password/<%= user.accessToken %>"><button style="background-color: blueviolet; color: white; text-decoration: none; font-weight: bold; border: none; cursor: pointer;">Click here!</button></a></p>
                </td>
              </tr>
              <tr>
                <td>
                    <p>Or paste the given link in your browser: http://localhost:8000/users/reset-password/<%= user.accessToken %></p>
                </td>
              </tr>
              <tr>
                <td>
                    Thanks regards!
                </td>
              </tr>
           </table> 
        </td>
    </tr>
  
     <!-- Bottom section -->
    <tr>
        <td style="background-color:#26292b; ">
            <table width="100%">
               <tr>
                <td style="text-align: center; padding: 45px 20px; color: #ffffff;">
                    <a href="#" style="color: white; text-decoration: none; "><p style="font-weight: bolder; font-size: 20px;">Codeial</p></a>
                  <!-- <br> -->
                  <p>priyanshumandloigurukul@gmail.com</p>
                  <a href="#"><img src="./img/white-facebook.png" alt="facebook" width="30"></a>
                  <a href="#"><img src="./img/white-twitter.png" alt="Twitter" width="30"></a>
                  <a href="#"><img src="./img/white-twitter.png" alt="facebook" width="30"></a>
                  <a href="#"><img src="./img/white-linkedin.png" alt="facebook" width="30"></a>
                </td>
  
                <!-- <td>
  
                </td> -->
               </tr>
            </table>
        </td>
    </tr>
    </table>
    </center>
  
  </body>