.container{
    border: 2px dashed brown;
    height: 290px;
    width: 220px;
    position: sticky;
    bottom: 8%;
    left: 100%;
}

.inputs{
    display: inline-flex;
    position: relative;
    top: 63%;
    left: 4px;
    height: 36px;
}
.input1{
    width: 135px;
    border: 4px solid lightskyblue;
    outline: none;
    color: black;
}
.input2{
  width: 66px;
  background-color: rgb(18, 233, 18);
  color: white;
  font-size: large;
  font-weight: bold;
   border: none;
  cursor: pointer;
}

.other-msg{
    color: black;
    background-color: #FF929E;
    position: relative;
    height: 35px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 10%;
    left: 5%;
    font-weight: bold;
}
.self-msg{
    color: black;
    background-color: #9BD6FF;
    position: relative;
    top: 13%;
    right: -45%;
    height: 35px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}