.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #777378;
    display: flex
    /* align-items: flex-start; */ 
}
.text{
    color: white;
    font-size: larger;
}
.combi{
    display: flex;
    flex-direction: column;
    translate: 50px;
}
.combi a{
    color: white;
    font-size: 20px;
    text-decoration: none;  
    font-weight: bold;
}