.header{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans',sans-serif; */
}

.log {
    display: flex;
    list-style-type: none;
}

.user{
    font-size: 20px;
}

.user{
    width: 100px;
    height: 30px;
}


.user a{
    color: white;
    font-weight: bold;
    text-decoration: none;    
}

.title{
    justify-items: center;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
}

