#home-container{
    display: flex;
}
#feed-post{
    width: 70%;
    padding: 10px;
}
#user-friends{
    width: 30%;
    padding: 10px;
    border: 1px solid lightgray;
    border-bottom: none;
    /* height: 37rem; */
}
