body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}
form{
    margin: 0;
    padding: 0;
}

.cm6{
    position: fixed;
    top: 18%;
    left: 36%;
    width: 500px;
    background-color: #242526;
    height: 540px;
    border-radius: 31px;
    color: white;
}

.cm7{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid gray;
    margin: 10px 10px 0px 144px;
}
.cm8{
    margin-left: 55%;
}

.cm11{
    border-radius: 5px;
}

.cm12{
    display: flex;
    flex-direction: column;
}
.cm13{
    border-radius: 17px;
    height: 50px;
    width: 80%;
    margin-top: 6%;
    margin-left: 11%;
    color: black;
    padding: 5px;
}
.cm15{
    margin-top: 5%;
}

.cm17{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px;
}

.cm16{
    padding: 4px;
    background-color: orange;
    margin-top: 7px;
    border-radius: 8px;
    width: 280px;
    padding: 6px;
    color: darkmagenta;
    font-weight: bold;
}

.cm18{
    margin-top: 30px;
    background-color: brown;
    border-radius: 16px;
    padding: 10px;
}